.FirstHeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  
}
.FirstHeaderContainer img{
  width: 40px;
  height: 40px;
}
.FirstHeaderContainer div:first-of-type{
  display: flex;
  align-items: center;
}
.FirstHeaderContainer div:last-of-type{
  margin-left: 80px;
}
.FirstHeaderContainer div:first-of-type h1{
  margin-left: 15px;
  font-size: 1.4rem;
}
.FirstHeaderContainer div:first-of-type p{
  margin-left: 25px;
  font-weight: 500;
  font-size: 1.2rem;
}
.FirstHeaderContainer div:last-of-type h3{
  font-size: 1rem;
  color: rgba(225, 225, 225, 0.6);
}
.FirstHeaderContainer div:last-of-type h1{
  font-size: 1.2rem;
  transform: translateX(-17px);
}
.FirstHeaderContainer button{
  border-radius: 40px;
  width: 70px;
  height: 30px;
  border: 1px solid rgba(225, 225, 225, 0.6);
  background-color: white;
}
.secondHeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}
.secondHeaderContainer div:first-of-type ul{
  list-style: none;
  display: flex;
  justify-content: left;
  margin-top: 20px;
}
@media (max-width: 500px){
  .FirstHeaderContainer{
    display: none;
  }
}