@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.FirstHeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}
.FirstHeaderContainer img{
  width: 40px;
  height: 40px;
}
.FirstHeaderContainer div:first-of-type{
  display: flex;
  align-items: center;
}
.FirstHeaderContainer div:nth-of-type(2){
  margin-left: 80px;
}
.FirstHeaderContainer div:first-of-type h1{
  margin-left: 15px;
  font-size: 1.4rem;
}
.FirstHeaderContainer div:first-of-type p{
  margin-left: 25px;
  font-weight: 500;
  font-size: 1.2rem;
}
.FirstHeaderContainer div:nth-of-type(2) h3{
  font-size: 1rem;
  color: rgba(225, 225, 225, 0.6);
}
.FirstHeaderContainer div:nth-of-type(2) h1{
  font-size: 1.2rem;
  transform: translateX(-17px);
}
.FirstHeaderContainer button{
  border-radius: 40px;
  width: 70px;
  height: 30px;
  border: 1px solid rgba(225, 225, 225, 0.6);
  background-color: white;
}
.Navbar{
  display: none;
}
@media (max-width: 500px){
  .FirstHeaderContainer{
    margin-left: 15px;
    margin-top: 5px;
    
  }
  .FirstHeaderContainer img{
    width: 30px;
    height: 30px;
  }
  .FirstHeaderContainer div:first-of-type h1{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
  }
  .FirstHeaderContainer div:first-of-type p{
     display: none;
  }
   .FirstHeaderContainer div:nth-of-type(2) h3{
    display: none;
  }
  .FirstHeaderContainer div:nth-of-type(2) h1{
    display: none;
  }
  .FirstHeaderContainer button{
    display: none;
  }
  .Navbar{
    display: block;
  
  }
  .Navbar div:first-of-type{
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 5px 10px 0 0;
  }
  
  .Navbar div:last-of-type{
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 5px 10px 0 0;
    
  }
}