@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*{
  box-sizing: border-box;
}

.Sides{
  margin: 20px auto 0px auto;
  width: 80%;
}
.Sides h1{
  text-align: left;
}
.SidesContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  font-family: 'Open Sans', sans-serif;
}
.SidesContainer img{
  width: 233px;
  height: 233px;
}
.SidesContainer img:hover{
  transform: translateY(2px);
  cursor: pointer;
}
.SidesCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.SidesCard div:first-of-type{
  width: 100%;
}
.SidesHeader div:first-of-type h1{
  font-size: 1.2rem;
}
.SidesHeader div:first-of-type p{
  color: #918F8E;
  font-size: 0.9rem;
}
.SidesFooter{
  margin: 20px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.SidesFooter button{
  background-color: white;
  color: #F97225;
  border: 1px solid #F97225;
  border-radius: 10px;
  padding: 3px;
  width: 100px;
  height: 45px;
}
.SidesFooter button span:first-of-type{
  display: none;
}
@media (max-width: 500px){
  .Sides{
    width: 90%;
    
  }
  .Sides>h1{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
  }
  .ImageContainer{
    width: 30%;
    max-width: 40%;
  }
  .SidesContainer{
    display: flex;
    flex-direction: column;
  }
  .SidesContainer img{
    width: 150px;
    height: 150px;
  }
  .SidesCard{
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
  }
  .SidesHeader{
    margin-left: 30px;
    width: 100%;
  }
  .SidesFooter h3{
    display: none;
  }
  .SidesFooter button{
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    margin-left: 0;
    width: 90px;
  }
  .SidesFooter button span:first-of-type{
    display: block;
  }
  .SidesFooter button span:last-of-type{
    display: none;
  }
}