*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Pizzamodal{
  position: fixed;
  z-index: 300;
  top: 25px;
  left: 250px;
  width: 880px;
  height: 610px;
  background-color: white;
  border-radius: 20px;
}
.ModalContainer{
  display: flex;
  justify-content: space-between;
}
.ImageContainer img{
  margin-top: 150px;
  margin-left: 90px;
}
.DetailsContainer{
  margin-right: 20px;
  margin-top: 40px;
}
.TextDetails h1{
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 40px;
}
.TextDetails p{
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 40px;
}
.switchButton input{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.switchButton label{
  display: inline-block;
  width: 100px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}
.switchButton input:checked + label{
  background-color: #F07718;
	color: #fff;
  box-shadow: none;
}
.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.orderButton{
  margin-top: 80px;
}
.orderButton button{
  background-color: #F07718;
  height: 40px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.Small{
  transform: scale(0.8);
}
.Medium{
  transform: scale(1);
}
.Large{
  transform: scale(1.5);
}
@media (max-width: 500px){
  .Pizzamodal{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .ModalContainer{
    flex-direction: column;
    justify-content: center;
  }
  .ImageContainer img{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .TextDetails{
    text-align: center;
  }
  .switchButton{
    transform: translateX(8%);
    
  }
  .orderButton button{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .Small{
    transform: scale(0.7);
  }
  .Medium{
    transform: scale(0.9);
  }
  .Large{
    transform: scale(1.2);
  }
}