@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

.OrderPlacement{
  width: 60%;
  max-width: 70%;
  margin: 70px auto 10px auto;
  font-family: 'Noto Sans JP', sans-serif;
}
.OrderPlacement h1{
  font-size: 1.2rem;
}
.OrderPlacement h1:last-of-type{
  color: #F3710C;
  text-align: right;
  margin-top: 60px;
  
}
.ButtonContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.ButtonContainer button:last-of-type{
  background-color: #F3710C;
  color: white;
}
@media(max-width: 500px){
  
  .OrderPlacement{
    width: 100%;
    max-width: 100%;
    margin: 50px 0 0 20px;
  }
  .OrderPlacement h1:last-of-type{
    text-align: left;
  }
  .ButtonContainer button{
    height: 50px;
    width: 100px;
  }
}