*{
  box-sizing: border-box;
}
.Pizza{
  margin: 20px auto 0px auto;
  width: 80%;
  
}
.Pizza h1{
  text-align: left;
  
}
.PizzaContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 10px;
}

.PizzaContainer img:hover{
  transform: translateY(2px);
  cursor: pointer;
}
.PizzaContainer div h1{
  font-size: 1.2rem;
}
.PizzaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PizzaCardHeader {
  width: 100%;
}

.PizzaCardHeader h1 {
  font-size: 1.2rem;
  width: 100%;
}

.PizzaCardHeader p {
  color: #918F8E;
  font-size: 0.9rem;
  text-align: left;
  height: 50px;
  max-height: 70px;
}

.PizzaCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 5px 0;;
}

.PizzaCardFooter h3 {
  font-size: 1rem;
}

.PizzaCardFooter button {
  background-color: white;
  color: #F97225;
  border: 1px solid #F97225;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}
@media (max-width: 500px){
  
  .PizzaContainer{
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
  }
}
