*{
  box-sizing: border-box;
}

.Desserts{
  margin: 20px auto 0px auto;
  width: 80%;
}
.DessertsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
}
.DessertsContainer img:hover{
  transform: translateY(2px);
  cursor: pointer;
}
.DessertsCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.DessertsCard div:first-of-type{
  width: 100%;
}
.DessertsCard div:first-of-type h1{
  font-size: 1.2rem;
}
.DessertsCard div:first-of-type p{
  color: #918F8E;
  font-size: 0.9rem;
}
.DessertsCard div:last-of-type{
  margin: 20px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.DessertsCard div:last-of-type button{
  background-color: white;
  color: #F97225;
  border: 1px solid #F97225;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
}
@media (max-width: 500px){
  .DessertsContainer{
    display: flex;
    flex-direction: column;
  }
}