
.Header{
  display: flex;
  justify-content: left;
  position: fixed;
  background-color: white;
  margin: auto;
  z-index: 100;
  width: 100%;
}
.Header ul{
  list-style: none;
}
.Header img{
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-left: 50px;
  
}
.Header ul li{
  color: black;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
.Header ul li:hover{
  color: #F97225;
}