
.Header{
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.Header>div{
  margin: 0px auto 0px auto;
  width: 80%;
}
.Header img{
  width: 40px;
  height: 40px;
  
  
}



