
.Header{
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;
  top:0;
  left: 0;
  
}
.Header>div{
  margin: 0px auto 0px auto;
  width: 80%;
}
.Header img{
  width: 40px;
  height: 40px;
  
  
}
@media (max-width: 500px){
  .Header>div{
    width: 100%;
  }
}


