.secondHeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 35px;
}
.secondHeaderContainer img{
  width: 20px;
  height: 20px;
}
.secondHeaderContainer div:first-of-type ul{
  list-style: none;
  display: flex;
  justify-content: left;
  margin-top: 20px;
}
.secondHeaderContainer div:first-of-type ul li{
  padding-right: 10px;
  cursor: pointer;
}
.secondHeaderContainer div:first-of-type ul li:hover{
  color: #F97225;
}
.secondHeaderContainer button{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color:#F97225;
  color: white;
  border: 0;
}