@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
.secondHeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 5px;
  font-family: 'Noto Sans JP', sans-serif;
}

.secondHeaderContainer img{
  width: 20px;
  height: 20px;
}

.secondHeaderContainer div:first-of-type ul{
  list-style: none;
  display: flex;
  justify-content: left;
  margin-top: 20px;
}
.secondHeaderContainer div:first-of-type ul li{
  margin-right: 10px;
  cursor: pointer;
}
.secondHeaderContainer div:first-of-type ul li a{
  color: black;
  text-decoration: none;
}
.secondHeaderContainer div:first-of-type ul li a:hover{
  color: #F97225;
}

.secondHeaderContainer button{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color:#F97225;
  color: white;
  border: 0;
}
.secondHeaderContainer button a{
  color: white;
  text-decoration: none;
}
.shoppingCart{
  display: none;
}
@media (max-width: 500px){
  .shoppingCart{
    display: block;
    background-color: #F97225;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  }
  .shoppingCartCounter{
    font-size: 1rem;
    position: absolute;
    color: #F97225;
    border: 1px solid #F97225;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
    right: 0;
    display: flex;
    align-items: center;
  }
  .shoppingCartCounter span{
    margin: auto;
  }
  .shoppingCartPicture{
    position: absolute;
    top: 14px;
    left: 12px;
  }
  .secondHeaderContainer{
    padding-bottom: 2px;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-left: 10px;
    align-items: center;
  }
  .secondHeaderContainer button{
    display: none;
  }
  .secondHeaderContainer img{
    width: 30px;
    height: 30px;
  }
  .secondHeaderContainer div:first-of-type ul{
    justify-content: space-around;
  }

  .secondHeaderContainer div:first-of-type ul li:last-of-type{
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .secondHeaderContainer div:first-of-type ul li:not(:first-of-type){
    background-color: #ECE8E8;
    border-radius: 20px;
    padding: 5px;

  }
}