*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.FooterSection{
  background-color: #2A3549;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.FooterSection img{
  width: 135px;
  height: 40px;
}
.FooterContainer{
  margin: 20px auto 0px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.FirstFooterSection{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.FirstFooterSection div:first-of-type h3:first-of-type{
   color: white;
   font-size: 1rem;
}
.FirstFooterSection div:first-of-type h3:last-of-type{
  padding-top: 10px;
  color: rgba(225, 225, 225, 0.6);
  font-size: 1rem;
}
.FooterSection div:last-of-type img:first-of-type{
  padding-right: 10px;
}
.FooterContainer div:nth-of-type(2){
  text-align: right;
  color: white;
}
.FooterContainer div:nth-of-type(2) h3{
  padding-top: 50px;
  font-size: 1rem;
  color: rgba(225, 225, 225, 0.6);
}
.FooterContainer div:nth-of-type(2) h1{
  padding-top: 10px;
  font-size: 1.5rem;
}
.LastFooterContainer::before{
  content: '';
  position: absolute;
  background-color: rgba(225, 225, 225, 0.3);
  width: 100%;
  top: 0;
  left: 0;
  height: 2px;
  
}
.LastFooterContainer{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.LastFooterContainer div:first-of-type ul{
   
   list-style: none;
   color: white;
   display: flex;
   justify-content: left;
   
}
.LastFooterContainer div:first-of-type ul li{
  padding-right: 10px;
}
.LastFooterContainer div:last-of-type{
  font-size: 30px;
}
@media (max-width: 500px){
  .FooterSection{
    margin-bottom: 0;
  }
  .FirstFooterSection{
    flex-direction: column;
    order:2;
    
  }
  .FirstFooterSection div:last-of-type{
    position: absolute;
    
    display: flex;
    justify-content: left;
  }
  .FirstFooterSection div:last-of-type img{
    transform: translateY(85px);
  }
  .FirstFooterSection div:first-of-type h3:last-of-type{
    position: relative;
  }
  .FirstFooterSection div:first-of-type h3:last-of-type:after{
  content: '';
  position: absolute;
  background-color: rgba(225, 225, 225, 0.3);
  width: 100%;
  top: 50px;
  left: 0;
  height: 2px;
  }
  .FooterContainer div:nth-of-type(2){
    text-align: left;
    order: 1;
    position: relative;
    transform: translateY(-20px);
  }
  
  .FooterContainer div:nth-of-type(2) h1:after{
     content: 'contact@dodopizza.ng';
     position: absolute;
     color: rgba(225, 225, 225, 0.3);
     font-size: 0.9rem;
     transform: translate(-215px,40px);
     padding-bottom: 10px;
  }
  .FooterContainer div:nth-of-type(2):after{
  content: '';
  position: absolute;
  background-color: rgba(225, 225, 225, 0.3);
  width: 100%;
  top: 150px;
  left: 0;
  height: 2px;
  
  }
  .LastFooterContainer{
    order: 3;
    
  }
  .LastFooterContainer::before{
    display: none;
  }
  .LastFooterContainer{
    flex-direction: row;
    justify-content: left;
    
  }
  .LastFooterContainer div:first-of-type ul{
    flex-direction: column;
    transform: translateY(30px);

  }
  .LastFooterContainer div:first-of-type ul li{
    padding-top: 10px;
  }
  .LastFooterContainer div:first-of-type ul li:nth-of-type(3){
    order:1;
  }
  .LastFooterContainer div:first-of-type ul li:last-of-type{
    order: 2;
  }
  .LastFooterContainer div:first-of-type ul li:first-of-type{
    order: 3;
  }
  .LastFooterContainer div:first-of-type ul li:nth-of-type(2){
    order: 4;
  }
  .LastFooterContainer div:last-of-type{
    position: absolute;
    transform: translateY(-140px);
  }
}

